################################################################
# ~~~~~~~~~ AIRFRONT.CO.UK --ignore file ~~~~~~~~~~~~~~~~~~~~~~~
################################################################
# middleman/ruby related
################################################################
/.bundle
#/source/assets/bower_components

# --------------------------------------------------------------
# Ignore the build directory
# --------------------------------------------------------------
/build

################################################################
# Ignore cache
################################################################
/.sass-cache
/.cache

################################################################
# operating system crud
################################################################
.DS_Store
.AppleDouble
.LSOverride

# --------------------------------------------------------------
# Icon must end with two \r
# --------------------------------------------------------------
Icon

# --------------------------------------------------------------
# Thumbnails
# --------------------------------------------------------------
._*

# --------------------------------------------------------------
# Files that might appear on external disk
# --------------------------------------------------------------
.Spotlight-V100
.Trashes

# --------------------------------------------------------------
# Directories potentially created on remote AFP share
# --------------------------------------------------------------
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

################################################################
# Node related
################################################################
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
node_modules
.lock-wscript

################################################################