
// absolute base level font size to which all are relative
// -------------------------------------------------------------

$base-font-size: 		16px;

// Headings (to be converted to rems in use)
// -------------------------------------------------------------
$heading-size-1:          36px !default;
$heading-size-2:          30px !default;
$heading-size-3:          24px !default;
$heading-size-4:          20px !default;
$heading-size-5:          16px !default;
$heading-size-6:          14px !default;