// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
    palm: 480px,
    lap: (481px, 1023px),
    portable: 1023px,
    desk: 1024px
) !default;

// Define the breakpoint from the $mq-breakpoints list that should
// be used as the target width when outputting a static stylesheet
// (i.e. when $mq-responsive is set to 'false').
$mq-static-breakpoint: desktop !default;

$grid-mobile-first:         true;
$grid-gutter:               20px;
$grid-push:                 false;
$grid-pull:                 false;
$grid-use-markup-fix:       false;
$grid-generate-classes: 	true;