<p>this is a test</p>
<p><%= locals[:modifiers][0] %></p>
<% 7.times do %>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, dolorem architecto possimus aperiam veritatis! Cupiditate, expedita, cum explicabo natus deserunt dolor saepe vero voluptas tenetur quisquam obcaecati aperiam. Quod, ducimus.</p>
<% end %>