<div class="<%= get_class('sample', locals) %>"<%= get_data(locals) %>>
	<p><strong>Sample</strong></p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, temporibus, deleniti, rem nihil libero quam consequuntur dolore perspiciatis voluptate eaque eligendi ullam blanditiis veritatis ratione architecto omnis quidem veniam quasi.</p>
</div>
<!-- /.<%= get_class('sample', locals, true) %> -->