---
title: "Test"
bodyclass: ["test","blah"]
---

	<% include data = { :path => "components/sample/sample",
		:modifiers => ["test"] 
	} do %><% end %>

	<% include data = { :path => "components/test/test",
		:modifiers => ["test"] 
	} do %><% end %>

<h1><%= current_page.data.title %></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, ullam necessitatibus eius recusandae similique ab. Eveniet, id, repudiandae, quisquam, magnam quaerat iste excepturi accusamus maiores voluptatibus distinctio provident perspiciatis dignissimos?</p>